/* mdg basic css*/
div.mdg {
user-select:none;
-webkit-user-select:none;
-ms-user-select: none;
-moz-user-select:none;
-khtml-user-select:none;
	position:relative ;
	box-sizing:border-box;
}
div.mdg svg {
	position:absolute ;
	width:100% ;
	height:100% ;
	z-index:4 ;
	pointer-events: none;
}
div.mdg .box {
	position:absolute ;
    color:#08233E;
	background-color:white;/* rgb(243, 255, 228);*/
	line-height:100% ;
	box-sizing:border-box;
	cursor:move;
    font-family: 'Helvetica';
    border-radius:0.2em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    z-index: 3;
}
div.mdg .label {
    position:absolute;
    font-size:0.8em;
    z-index:5;
    box-sizing: border-box;
    border-radius:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    background-color: #FFE0B2;
    font-family: 'Helvetica';
    border:1px solid #E65100;
    color:#1A237E;
    box-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.5);
}

div.mdg .gene {
    font-size:0.8em;
    z-index:5;
    text-align:left;
    line-height:normal;
    border-radius:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    background-color: #FFE0B2;
    border:1px solid #E65100;
    color:#1A237E;
    box-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.5);
}

div.mdg .rectangle{
    background: rgba(255, 166, 166, 0.38);
    border: 1px solid red;
    position: absolute;
}

div.mdg .active{
    border-color:red;
    box-shadow: 3px 3px 5px #ff0000;
}

div.mdg a {
/*  text-transform: uppercase;*/
  color:blueviolet;
  text-decoration: none;
  position: relative;
  border-bottom: solid 1px blueviolet;
  overflow:hidden;
}

div.mdg a:hover {
  color: #054176;
}

div.mdg a:before {
  content: '';
  border-bottom: solid 1px #054176;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  opacity: 0;
}

div.mdg a:hover:before {
  opacity: 1.0;
}

div.mdg a, div.mdg a:before {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

div.mdg div.box {
	text-align:center ;
}
div.mdg table.box {
	border-collapse: collapse ;
	margin:0 ;
    border-radius:0.5em;
}
div.mdg table td {
    border-radius:0.5em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-left:0.5em;
    padding-right:0.5em;
   /* border-top: 2px solid white*/
}

div.mdg table th {
	background-color:#0C555D ;/*Bittersweet*/
    color:white;
	text-align: center ;
    padding-top:0.5em;
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
div.mdg svg line {
	stroke:#000 ;
	stroke-width:2px ;
}
div.mdg svg path {
	stroke:#2c3e50 ; 
    stroke-width:1px;
}

figure {
	margin:0 ;
}

/* preset class */
div.mdg div.trans {
	background:none ;
	border:none ;
    box-shadow:None;
}
div.mdg .transB, div.mdg .transB1{
    z-index: 0;
    background:none ;
    color:none;
    border: 2px solid black;
    box-shadow:none;
}

div.mdg .transB2{
    z-index: 0;
    background:none ;
    color:none;
    border: 4px solid black;
    box-shadow:none;
}

div.mdg .mark{
    z-index:10;
    font-size:1px;
    background:none;
    border: 2px solid red;
    box-shadow:none;
    border-radius:500px
}

div.mdg div.image, div.mdg div.image2, div.mdg div.image50, div.mdg div.image100 div.mdg div.image200{
	background-color:white;
	padding-left:1em ;
	padding-right:1em ;
    padding-top:0.3em ;
	padding-bottom:0.3em ;
}

div.mdg div.image2 {
	background-color:white;
	padding-left:3em ;
	padding-right:3em ;
    padding-top:0.5em ;
	padding-bottom:0.5em ;
}

div.mdg div.image img {
	max-width:300px ;	
}
div.mdg div.image50 img{
    max-width:50px;
}

div.mdg div.image100 img{
    max-width:100px;
}

div.mdg div.image200 img{
    max-width:200px;
}


/* text/stroke color */
div.mdg .red {
	color:red ;
	stroke:#f00 ;
}
div.mdg .blue {
	color:blue ;
	stroke:#00f ;
}
div.mdg .green {
	color:blue ;
	stroke:#0f0 ;
}
div.mdg .white {
	color:white ;
	stroke:#fff ;
}
div.mdg .gray {
	color:blue ;
	stroke:#888 ;
}
/* border color */
div.mdg .bd_red {
	border-color:red ;
}
div.mdg .bd_blue {
	border-color:blue ;
}
}
div.mdg .bd_green {
	border-color:green ;
}
/* bg color */
div.mdg .bg_red {
	background-color:#fee ;
}
div.mdg .bg_blue {
	background-color:#eef ;
}
div.mdg .bg_green {
	background-color:#efe ;
}
div.mdg .bg_g25 {
	background-color:#444 ;
}
div.mdg .bg_g50 {
	background-color:#888 ;
}
div.mdg .bg_g75 {
	background-color:#ccc ;
}
div.mdg .bg_black {
	background-color:#000 ;
}
/* line style */
div.mdg .l_w1 {
	stroke-width:1px ;
}
div.mdg .l_w2 {
	stroke-width:2px ;
}
div.mdg .l_w3 {
	stroke-width:3px ;
}
div.mdg .l_w4 {
	stroke-width:4px ;
}
div.mdg .l_w5 {
	stroke-width:5px ;
}
div.mdg .l_d10 {
	stroke-dasharray:10px ;
}

/* border radius */
div.mdg .bd_r6 {
	border-radius:6px ;
}
div.mdg .bd_r10 {
	border-radius:10px ;
}
div.mdg .bd_r20 {
	border-radius:20px ;
}
div.mdg .circle4 {
	width:4em;
	height:4em ;
	text-align:center ;
	padding-top:1em ;
	border-radius:2em ;
}

div.mdg .triangle {
	/* 大きさの設定 (borderだけで描くので、widthとheightは0でよい) */
    width: 0px;
    height: 0px;

	/* borderをうまく使って三角形を描く (高さ: 45px, 横幅: 28×2=56px) */
    border-bottom: solid 45px black;
    border-left: solid 28px transparent;
    border-right: solid 28px transparent;
    
    padding:0;
    box-shadow: none;
    background-color:inherit;
}

/* alignment */
div.mdg div.TC,table.TC {
	text-align:center ;
}
div.mdg div.TR,table.TR {
	text-align:right ;
}
div.mdg div.TL,table.TL {
	text-align:left ;
}
/* font-style */
div.mdg .bold {
	font-weight:bold ;
}
div.mdg .FB {
	font-weight:bold ;
}
div.mdg .FI {
	font-style: italic ;
}
div.mdg .FM {
	font-family:monospace;
}
/*　font-size */
div.mdg .F05 {
	font-size:0.5rem ;
}
div.mdg .F08 {
	font-size:0.8rem ;
}
div.mdg .F15 {
	font-size:1.5rem ;
}
div.mdg .F20 {
	font-size:2.0rem ;
}
div.mdg .small1{
    font-size:0.1em;
}
div.mdg .small2{
    font-size:0.2em;
}
div.mdg .small3{
    font-size:0.3em;
}
div.mdg .small4{
    font-size:0.4em;
}
div.mdg .small5{
    font-size:0.5em;
}
div.mdg .small6{
    font-size:0.6em;
}
div.mdg .small7{
    font-size:0.7em;
}
div.mdg .small8{
    font-size:0.8em;
}
div.mdg .small9{
    font-size:0.9em;
}
/* paddng */
div.mdg .P05 {
	padding:0.5rem ;
}
div.mdg .P10 {
	padding:1rem ;
}
div.mdg .P15 {
	padding:1.5rem ;
}
div.mdg .P20 {
	padding:2rem ;
}
/* box sizes */
div.mdg .W05 {
	width:5rem ;
}
div.mdg .W10 {
	width:10rem ;
}
div.mdg .W15 {
	width:15rem ;
}
div.mdg .W20 {
	width:20rem ;
}
div.mdg .H2 {
	height:2rem ;
}
div.mdg .H3 {
	height:3rem ;
}
div.mdg .H4 {
	height:4rem ;
}

.highlight{
    position:relative;
    background-color:yellow;
    color:black;
    line-height: 1;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 1em 0em 0em;
    float: right;
    z-index:1;
    box-shadow: 3px 3px 5px black;
    animation: fadeIn 2s ease 0s 1 normal;
}

/* popuo用のツールチップ */ 
/* ツールチップ部分を隠す */
div.mdg .box span, div.mdg .label span{
    display: none;
}

div.mdg .box:hover, div.mdg .label:hover{
    user-select: text;
    cursor: auto;
    z-index:20;
}
 
/* マウスオーバー時にツールチップを表示 */
div.mdg .box:hover span, div.mdg .label:hover span{
    user-select: text;
    display: block;                  /* ボックス要素にする */
    position: absolute;            /* relativeからの絶対位置 */
    top:auto;
    font-size: 90%;
    color:#08233E;
    background-color: #E1F5FE;
    width:auto;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #0D47A1;
    border-radius:3px;
    z-index: 20;
}